/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #6d6d6d;
    overflow: hidden;
    font-size: 14px;
    background: #000;
}

/* COMMON RULES */
h1, h2, h3, h4, h5, h6, button, .control, .active, i{
    color: #fff;
}

a{
    text-decoration: none;
    color: currentColor;
    transition: all 300ms;
}

ul li{
    list-style: none;
}

.macrocontainer{
    height: calc(100vh - 80px);
    display: flex;
}

/* ASIDE */
/* aside general */
aside,
main{
    height: calc(100vh - 80px); 
}

aside{
    flex-basis: 220px;
    padding: 15px 0 8px 0;
    overflow: hidden;
}

aside a{
    position: relative;
}

aside ul li{
    line-height: 2.2rem;
}

aside a svg{
    width: 1.5rem;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 3px;
}

.menu-voice{
    display: inline;
}

/* aside up */
aside .aside-up{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100% - 70px);
}

aside .aside-head{
    margin-bottom: 1.5rem;
}

aside a svg path.active{
    fill: #fff;
}

aside a svg path.active-body{
    fill: currentColor;
}

aside a svg path:not(path.active){
    
    transition: all 300ms;
}

aside .brand img{
    width: 70%;
    margin-bottom: 1.7rem;
}

aside .brand img.brand-mobile{
    display: none;
}

aside .aside-head a.active::before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 28px;
    border-radius: 1px;
    background-color: limegreen;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}

aside a:not(a.brand)::before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 28px;
    border-radius: 1px;
    background-color: limegreen;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(calc(-50% - 1px)) scaleY(0);
    transition: all 300ms;
}

/* overflow scrollbar custom */
/* firefox */
aside .aside-playlist{
    overflow: hidden; 
}

/* chrome edge safari */
aside .aside-playlist ul{
    scrollbar-width: thin;   
    scrollbar-color: #4f4f4f black; 
}

aside .aside-playlist ul::-webkit-scrollbar,
main::-webkit-scrollbar{
    width: 4px;
}

aside .aside-playlist ul::-webkit-scrollbar-track,
main::-webkit-scrollbar{
    background: #a3a3a3;  
    border-radius: 2px;
}

aside .aside-playlist ul::-webkit-scrollbar-thumb,
main::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 2px; 
}
/* overflow scrollbar custom end */

/* aside playlist */
aside .aside-playlist h3{
    margin-bottom: 1rem;
}

/* scrollable inner content */
aside .aside-playlist ul{
    height: 90%;
    overflow-y: auto;
}

aside .aside-playlist ul li a i{
    color: #000;
    padding: 0.6rem;
    background-color: #a3a3a3;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all 300ms;
    border-radius: 2px;
}

aside .aside-playlist ul li:first-child a{
    font-size: 16px;
}

/* aside user */
aside .aside-user{
    width: 100%;
    padding: 5px 15px 0 15px;
    height: 70px;
}

aside .aside-user hr{
    border: none;
    border-bottom: 1px solid currentColor;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
}

aside .aside-user a:last-child svg{
    background-color: #6d6d6d;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 2px;
}

aside .aside-user a:last-child h4{
    display: inline-block;
}

/* animations & decorations */
aside a svg path:hover,
aside a:hover{
    color: white;
    fill: white;
}

aside .aside-playlist a:hover{
    font-size: 15px;
}

aside a:not(a.brand):hover::before{
    transform: translateY(calc(-50% - 1px)) scaleY(1);
}

aside .aside-playlist ul li:first-child a:hover{
    font-size: 17px;
}

aside .aside-playlist ul li a:hover i{
    background-color: white;
    margin-bottom: 4px;
}

aside .aside-user a:first-child:hover svg {
    animation: float 300ms infinite alternate;
}

@keyframes float {
    from {
      transform: scale(1) translateY(2px);
    }
    to {
      transform: scale(1.1) translateY(-2px);
    }
}
/* ASIDE END */

/* MAIN */
main{
    background: #141922;
    flex-basis: calc(100% - 220px);
    overflow-y: auto;
    padding-top: 80px;
    scrollbar-width: thin;   
    scrollbar-color: #4f4f4f rgba(0, 0, 0, 0.363); 
}

main::-webkit-scrollbar{
    width: 6px;
}

main::-webkit-scrollbar-track{
    background:  #838383;  
}

main::-webkit-scrollbar-thumb{
    background-color: #464646;
    border-radius: 3px; 
}

/* FAKE HEADER */
main .fake-header{
    position: absolute;
    top: 0;
    /* width: calc(100% - 236px); */
    width: calc(100% - 220px);
    height: 80px;
    background: rgba(0, 0, 0, 0.363);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
    z-index: 1;
}

main .fake-header button{
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid white;
    outline: none;
    font-size: 12px;
    transition: all 300ms;
}

/* animation & decoration */
main .fake-header button:hover{
    transform: scale(1.05);
}

/* NAVBAR */
main .navbar{
    text-transform: uppercase;
    font-size: 12px;
    color: #6d6d6d;
}

main .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

main .navbar ul li{
    line-height: 50px;
    position: relative;
}

main .navbar ul li:not(:last-child){
    margin-right: 15px;
}

/* animations & decorations */
main .navbar ul li a::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: limegreen;
    position: absolute;
    left: 0;
    bottom: 12px;
    transform: scaleX(0);
    transition: all 300ms;
}

main .navbar ul li:first-child::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: limegreen;
    position: absolute;
    left: 0;
    bottom: 12px;
}

main .navbar ul li a:hover::before{
    transform: scaleX(1);
}

main .navbar ul li a:hover{
    color: white;
}

/* MUSIC */
main .music img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

main .music .col{
    width: calc((100vw - 220px) / 7);
    min-width: 148px;
    text-align: center;
}

main .music{
    padding: calc((100vw - 220px) / 7 / 8);
}

main .music .inner,
main .music .inner .grid-system{
    display: flex;
}

main .music .inner .grid-system{
    margin: 2rem 0;
}

main .music h2,
main .music h4{
    margin-bottom: 0.3rem;
}

main .music .inner{
    flex-wrap: wrap;
}

main .music .inner .subtitle{
    font-size: 0.7rem;
}

main .music .col:not(:last-child),
main .music .inner .grid-system:not(:last-child){
    margin-right: calc((100vw - 220px) / 7 / 14);
}

main .music .cover{
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
}

main .music .cover .layover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.26), #000000cb);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms;
}

main .music .cover:hover .layover{
    opacity: 1;
}

main .music .cover:hover{
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.281);
}

main .music .cover .layover i{
    font-size: 3.5rem;
}

main .music .artists .cover{
    border-radius: 50%;
    overflow: hidden;
}
/* MAIN END */

/* FOOTER */
/* footer general */
footer{
    width: 100vw;
    z-index: 2;
    padding: 0 0.7rem;
    height: 80px;
    background: #282828;
    position: absolute;
    bottom: 0;
}

footer .player img{
    width: 2.3rem;
}

footer .player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer .player .left,
footer .player .left .left-favourite,
footer .player .center,
footer .player .center .controls{
    display: flex;  
    align-items: center;
}

footer .player i,
footer .player .right .audio,
footer .player .center .command{
    cursor: pointer;
}

/* current playing */
footer .player .left img,
footer .player .left i:not(:last-child){
    margin-right: 0.6rem;
}

footer .player .left .title{
    margin-right: 2rem;
}

footer .player .left .title > .song{
    font-size: 0.6rem;
    transition: all 300ms;
    cursor: pointer;
}

footer .player .left .title > .song:hover{
    text-decoration: underline;
    color: #fff;
}

footer .player .left i{
    color: currentColor;
    transition: all 300ms;
}

footer .player .left i:hover{
    color: white;
}

/* player controls */
footer .player .center .controls i:not(:last-child){
    font-size: 1rem;
    margin-right: 1rem;
}

footer .player .center .controls i:last-child{
    font-weight: 700;
    transform: scaleX(-1) rotate(-35deg);
    font-size: 1.1rem;
}

footer .player .center .controls i{
    padding-bottom: 0.3rem;
}

footer .player .center .controls i:nth-child(3){
    font-size: 1.9rem;
    padding: 0 0.6rem 0.3rem;
    transition: all 200ms;
}

footer .player .center .controls i:nth-child(3):hover{
    transform: scale(1.15);
}

footer .player .center{
    flex-direction: column;
    margin: 0 .2rem;
}

footer .player .center .progress-bar{
    height: 4px;
    border-radius: 2px;
    width: calc(100vw / 3.2);
    background: #464646;
}

footer .player .center .progress-bar > .progress{
    height: 100%;
    width: 25%;
    border-radius: 2px;
    background: #838383;
    position: relative;
    transition: all 300ms;
}

footer .player .center .command{
    position: relative;
}

footer .player .center .command::before{
    content: '0:25';
    font-size: 0.6rem;
    color: white;
    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

footer .player .center .command::after{
    content: '4:35';
    font-size: 0.6rem;
    color: white;
    position: absolute;
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

/* multimedial controls */
footer .player .right i{
    font-size: 0.8rem;
    margin-right: 1rem;
}

footer .player .right,
footer .player .left{
    width: 220px;
    display: flex;
    align-items: center;
}

/* audio modules */
footer .player .right .volume-bar{
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background: #464646;
}

footer .player .right .volume-bar > .volume{
    height: 100%;
    width: 35%;
    border-radius: 2px;
    background: #838383;
    position: relative;
    transition: all 300ms;
}

footer .player .placeholder{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    transition: all 300ms;
    opacity: 0;
}

footer .player .right .audio:hover .placeholder,
footer .player .center .command:hover .placeholder{
    opacity: 1;
}

footer .player .center .command{
    padding: 0.3rem;
}

footer .player .right .audio:hover .volume,
footer .player .center .command:hover .progress{
    background-color: limegreen;
}

footer .player .right .audio{
    display: flex;
    align-items: center;
    width: 100%;
}

footer .player .right .mobile-audio{
    display: none;
}

/* ******************************** RESPONSIVE ********************************** */
/* medium-large devices (small laptops & large tablets) < 1200px */
@media screen and (max-width: 1200px){
    /* main music */
    main .music .col{
        width: calc((100vw - 220px) / 5);
        min-width: 120px;
        text-align: center;
    }
    
    main .music{
        padding: calc((100vw - 220px) / 5 / 8);
    }

    main .music .col:not(:last-child),
    main .music .inner .grid-system:not(:last-child){
    margin-right: calc((100vw - 220px) / 5 / 14);
    }
}

/* medium-small devices (tablets & small tablets) < 768px */
@media screen and (max-width: 768px){
    /* main music */
    main .music .col{
        width: calc((100vw - 220px) / 2.5);
        min-width: 125px;
        text-align: center;
    }
    
    main .music{
        padding: calc((100vw - 220px) / 2.5 / 8);
    }

    main .music .col:not(:last-child),
    main .music .inner .grid-system:not(:last-child){
    margin-right: calc((100vw - 220px) / 2.5 / 14);
    }

    /* footer */
    /* current playing */
    footer .player .left .left-favourite{
        flex-direction: column;
    }

    footer .player .left .left-favourite i{
        padding: 2px 0;
        margin: 0;
    }

    /* multimedial controls */
    footer .player .right{
        justify-content: flex-end;
    }

    /* mobile audio module */
    footer .player .right .audio{
        display: none;
    }

    footer .player .right .mobile-audio{
        display: flex;
        position: relative;
    }

    footer .player .right .mobile-audio .volume-bar-mobile{
        cursor: pointer;
        position: absolute;
        top: -90px;
        left: 5px;
        height: 80px;
        border-radius: 2px;
        width: 4px;
        background: #464646;
        transition: all 300ms;
        visibility: hidden;
        opacity: 0
    }
    
    footer .player .right .mobile-audio .volume-bar-mobile > .volume{
        height: 45%;
        width: 100%;
        border-radius: 2px;
        background: limegreen;
        position: absolute;
        bottom: 0;
        transition: all 300ms;
    }
    
    footer .player .right .mobile-audio .volume-bar-mobile > .volume .placeholder{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background: white;
        transition: all 300ms;
        opacity: 1;
    }

    footer .player .right .mobile-audio:hover .volume-bar-mobile{
        visibility: visible;
        opacity: 1;
    }
}

/* x-small tablets < 600px */
@media screen and (max-width: 600px){
    /* aside */
    .menu-voice{
        display: none;
    }

    aside{
        text-align: center;
        flex-basis: 50px;
        padding: 15px 0 8px 0;
        overflow: hidden;
    }

    aside .aside-up,
    aside .aside-user{
        padding: 0;
    }

    aside .aside-user hr{
        border-color: #000;
    }

    aside .brand img.brand-desktop{
        display: none;
    }

    aside .brand img.brand-mobile{
        display: inline-block;
    }

    aside .aside-playlist{
        display: none;
    }
    
    /* main */
    main{
        flex-basis: calc(100% - 50px);
    }

    main .fake-header{
        width: calc(100% - 50px);
    }

    main .music .col{
        width: calc((100vw - 50px) / 2.5);
        min-width: 125px;
        text-align: center;
    }
    
    main .music{
        padding: calc((100vw - 50px) / 2.5 / 8);
    }

    main .music .col:not(:last-child),
    main .music .inner .grid-system:not(:last-child){
    margin-right: calc((100vw - 50px) / 2.5 / 14);
    }

    /* footer */
    footer .player .left .title{
        margin-right: 0.5rem;
    }
}

/* large smartphones & smartphones < 500px  */
@media screen and (max-width: 500px){
    /* footer */
    footer .player .left .title{
        display: none;
    }

    footer .player .right i:nth-child(2){
        display: none;
    }
}